# Created by .ignore support plugin (hsz.mobi)
.gradle
.idea
.idea/workspace.xml
.gradle/6.1/executionHistory/executionHistory.lock
.gradle/6.1/fileContent/
.gradle/6.1/javaCompile/
.gradle/6.1/vcsMetadata-1/
build/generated/
build/tmp/compileJava/
.gitignore
